@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Roboto:wght@100;300;400;700&family=Shadows+Into+Light&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.card-container {
  width: 50vw;
  height: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;

  padding-top: 40px;
  border-radius: 4px;
}
.card-container::-webkit-scrollbar {
  display: none;
}

.card-container {
  scroll-behavior: smooth;
}

.card-container > span {
  width: 100%;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    '. . checkbox-button-container'
    'task-header-container . priority-header-container';
  color: #672bde;
  font: 700 1.5rem 'Roboto', sans-serif;
}

.card-container > span > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: task-header-container;
  grid-area: checkbox-button-container;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.card-container > span > h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: task-header-container;
}
.card-container > span > p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: priority-header-container;
}
