.landing-bar-container-animated {
  position: absolute;

  background-color: rgb(103, 43, 222);
  width: 15%;
  left: 25%;

  height: 82%;

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.232);
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    transform: translateX(36vw);
  }
  100% {
    transform: translateX(0);
  }
}
