.card {
  padding: 10px;
  font: 0.8rem "Roboto", sans-serif;

  border-bottom: 2px solid #e6e6e6;

  display: grid;

  grid-template-columns: 70px 80% 20%;

  flex-direction: row;

  align-items: center;
  width: 100%;
}
